<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css" />
<title>Simple Blog</title>
</head>
<body>

	<div id="corps">


		<h1><a th:href="@{/}">MON BLOG</a></h1>
		
		<div class="container special">
			<form action="/logout">
			    <button type="submit">Logout</button>
			</form>
		</div>
		
		<section>
		
			<div>
				<table>
					<tr th:if="${articles.empty}">
						<td colspan="3">Aucun article en base de données</td>
					</tr>
					<tr th:each="article: ${articles}">
						<td><p th:text="${article.titre}"
								id="titre"> Titre </p>
							<p th:text="${article.contenu}"> Contenu </p>
							<p th:each="commentaire: ${article.commentaires}"
							   th:object="${commentaire}">
							   <span th:text="${commentaire.login}"
							   		 class="commentaire">Login</span>
							   <span> : </span>
							   <span th:text="${commentaire.contenu}"
							   		  class="commentaire">Contenu</span>
							</p></td>
						<td>
							<a th:href="@{/updateArticle/{id}(id=${article.id})}"><button>Modifier</button></a>
							<a th:href="@{/deleteArticle/{id}(id=${article.id})}"><button>Supprimer</button></a>
							<a th:href="@{/createCommentaire/{id}(id=${article.id})}"><button>Ajouter un commentaire</button></a>						
						</td>
					</tr>				
				</table>
				
				<h4 class="button"><a th:href="@{/createArticle}">Ajouter un nouvel article</a></h4>
			</div>
			
			<aside>
				<p>Bonjour, je m'appelle Clément Bonal j'ai 24 ans 
				et je viens de me lancer en tant que nomad digital comme développeur backend (Java) 
				en freelance afin de parcourir le monde tout en travaillant. 
				J'en suis actuellement à la 1ère étape de mon voyage à Puerto Escondido au Mexique.</p>
			</aside>		
		</section>
		
	</div>

</body>
</html>