<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../style.css" />
<title>Mon Blog - Modifier Article</title>
</head>
<body>

	<div id="corps">

			<h2 class="h2">Modification d'un article</h2>
			<div>
				<form method="post"
					th:action="@{/saveArticle}" th:object="${article}">
					<div class="form-group">
						<input
							type="hidden" th:field="*{id}" class="form-control">
					</div>
					<div class="form-group">
						<label for="titre">Titre</label> 
						<input
							type="text" th:field="*{titre}" class="form-control" id="titre"
							placeholder="Saisir le titre">
					</div>
					<div class="form-group">
						<label for="contenu">Contenu</label> 
						<input
							type="text" th:field="*{contenu}" class="form-control" id="contenu"
							placeholder="Saisir le contenu de l'article">
					</div>
					<div class="form-group">
						<label for="usertype">Type d'utilisateur</label> 
						<input
							type="number" th:field="*{utilisateur}" class="form-control" id="usertype"
							placeholder="Saisir le type d'utilisateur">
					</div>
					<div class="form-group">
						<label for="date">Date</label> 
						<input
							type="date" th:field="*{date}" class="form-control" id="date"
							placeholder="Saisir la date">
					</div>		
					
					<button type="submit">Modifier</button>
				</form>
			</div>
			
		</div>

</body>
</html>